<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    <style>

        .sidebar {
            width: 200px;
            background-color: #f4f4f4;
            padding: 15px;
            position: fixed;
            height: 100%;
            overflow-y: auto;
        }
        .content {
            margin-left: 220px;
            padding: 15px;
            flex-grow: 1;
        }
    </style>
</head>
<body>
    <div class="sidebar">
        <h2>Chapters</h2>
        <nav>
            <ol>
                <li><a href="/home">Home</a></li>
                <li><a href="/docs/1-intro">Introduzione alla sintesi e ai sintetizzatori modolari</a></li>
                <li><a href="/docs/1-5-installazione-vcv">Installazione di VCV rack</a></li>
                <li><a href="/docs/2-cv-manipolazione">Control Voltage, segnali e manipolazione dei parametri del suono</a></li>
                <li><a href="/docs/3-moduli-e-utilizzo">Moduli principali e utilizzo</a></li>
            </ul>
        </nav>
    </div>
    <div class="content">
        <h1><a href="{{ "/" | relative_url }}">{{ site.title }}</a></h1>
        <main>
            {{ content }}
        </main>
        <footer>
            <p>&copy; {{ site.time | date: "%Y" }}</p>
        </footer>
    </div>
</body>
</html>